.alertFont {
	font-family: Calibri;
}

.glassWrapper {
	display: none;
	position: absolute;
	z-index: 99;
	height: 100%;
	width: 100%;
	top: 0;
	left:  0;
	margin:  0;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
}

.boxBody {
	position: relative;
	height: 250px;
	width: 300px;
	min-width: 250px;
	margin: auto;
	top: 25%;
	border: none;
	background-color: transparent;
}

.boxBody > div:nth-child(1){
	position: relative;
	height: 20px;
	width: 100%;
	top: 0;
	left: 0;
	border: none;
	background-color: white;
}

.boxBody > div:nth-child(2){
	position: relative;
	height: 200px;
	width: 100%;
	top: 0;
	left: 0;
	border: none;
	background-color: white;
}

.boxBody > div:nth-child(3){
	position: relative;
	height: 40px;
	width: 100%;
	top: 0;
	left: 0;
	padding:  0;
	border: none;
}

.msgPnl {
	position: relative;
	height: 110px;
	width: 90%;
	margin-top: 0;
	margin-left: 5%;
	text-align: center;
	font-size: 16px;
	color: rgba(89,98,113,1);
}

.closeBtn {
	position: relative;
	height: 100%;
	width: 20px;
	right: 5px;
	border:  none;
	background: white;
	font-size: 100%;
	font-weight: 700;
	float:  right;
}

.msgTitle {
	position: relative;
	height: 30px;
	width: 90%;
	margin-top:  5px;
	margin-left: 5%;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
}

.iconPnl {
	position: relative;
	height: 50px;
	width: 100px;
	top: 5px;
	left: calc(50% - 50px);
	background-size: contain !important;
	background-repeat: no-repeat;
	background-position: center;
	
}

.okBtn {
	position: relative;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	margin: auto;
	border:none;
	color: white;
	font-size: 18px;
}

.yesBtn {
	position: relative;
	height: 100%;
	width: 50%;
	top: 0;
	left: 0;
	margin: auto;
	border:none;
	color: white;
	font-size: 18px;
}

.noBtn {
	position: relative;
	height: 100%;
	width: 50%;
	top: 0;
	left: 0;
	margin: auto;
	border:none;
	color: white;
	font-size: 18px;
}

/*** Information Box ***/
.info-btnPnl {
	background-color: rgba(36,180,171,1);
}

.info-closeBtn {
	color: rgba(36,180,171,1);
}

.info-msgTitle {
	color: rgba(32,168,164,1);
}

.info-iconPnl {
	background-image: url("../assets/img/info2.png");
}

.info-okBtn {
	background-color: rgba(24,126,120,1);
}

/*** Success Box ***/
.success-btnPnl {
	background-color: rgba(114,180,90,1);
}

.success-closeBtn {
	color: rgba(103,169,82,1);
}

.success-msgTitle {
	color: rgba(103,169,82,1);
}

.success-iconPnl {
	background-image: url("../assets/img/success.png");
	background-size: 90%;
}

.success-okBtn {
	background-color: rgba(79,131,62,1);
}

/*** Error Box ***/
.error-btnPnl {
	background-color: rgba(226,116,125,1);
}

.error-closeBtn {
	color: rgba(226,116,125,1);
}

.error-msgTitle {
	color: rgba(182,82,90,1);
}

.error-iconPnl {
	background-image: url("../assets/img/error.png");
	background-size: 90%;
}

.error-okBtn {
	background-color: rgba(182,82,90,1);
}

/*** Warning Box ***/
.warning-btnPnl {
	background-color: rgba(247,129,39,1);
}

.warning-closeBtn {
	color: rgba(247,129,39,1);
}

.warning-msgTitle {
	color: rgba(222,96,0,1);
}

.warning-iconPnl {
	background-image: url("../assets/img/warning.png");
	background-size: 90%;
}

.warning-okBtn {
	background-color: rgba(222,96,0,1);
}

/*** Confirmation Box ***/
.confirm-btnPnl {
	background-color: rgba(43,78,110,1);
}

.confirm-closeBtn {
	color: rgba(65,112,154,1);
}

.confirm-msgTitle {
	color: rgba(22,46,68,1);
}

.confirm-iconPnl {
	background-image: url("../assets/img/confirm.png");
	background-size: 90%;
}

.confirm-okBtn {
	background-color: rgba(22,46,68,1);
}

.confirm-noBtn {
	background-color: rgba(22,46,68,0.5);
}