html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	outline: none;
	vertical-align: baseline;
}

input, button {
	border: none;
	outline: none;
}

label, button {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	overflow: hidden;
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

b {
	font-weight: 700;
}


#rootPanel {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.customFont {
	font-family: Brandon;
}

.dataFont {
	font-family: Brandon;
}
/**** Loading Screen ****/
.srch-loading-glass {
	display: none;
	z-index: 25;
	position: absolute !important;
	height: 100% !important;
	width: 100% !important;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
}

.srch-loading-inner {
	position: relative;
	height: 150px;
	width: 150px;
	top: calc(50% - 75px);
	left: 0;
	margin: 0 auto;
	background: transparent;
	border-radius: 5px;
	border: none;
}

.srch-load-spinner-icon {
	position: relative;
	height: 150px;
	width: 150px;
	top: calc(50% - 75px);
	margin-left: calc(50% - 75px);
	border: none;
	background-image: url(../assets/img/balls.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: 200ms linear;
	-moz-transition: 200ms linear;
	-o-transition: 200ms linear;
	transition: 200ms linear;
	overflow: hidden;
}

.srch-loading-text {
	position: absolute;
	height: auto;
	width: 100px;
	top: 55%;
	margin-left: calc(50% - 52px);
	border: none;
	font-size: 20px;
	line-height: 100px;
	text-align: center;
	color: white;
}

/***Alert Dialogbox ***/
.alert-glass {
	display: none;
	z-index: 200;
	position: absolute !important;
	height: 100% !important;
	width: 100% !important;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
}

.alert-ok-glass {
	display: none;
	z-index: 30;
	position: absolute !important;
	height: 100% !important;
	width: 100% !important;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
}

.alert-wrapper {
	position: relative !important;
	height: 200px;
	width: 300px;
	top: calc(50% - 100px);
	margin-left: auto !important;
	margin-right: auto !important;
	box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.3);
	border: 0px solid rgba(69, 84, 93, 1);
	border-radius: 5px;
	background: white;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.alert-msg-pnl {
	position: relative !important;
	display: table;
	height: calc(100% - 70px);
	width: 90%;
	top: 0;
	left: 5%;
	border: none;
}

.alert-header {
	position: relative !important;
	display: table;
	height: 30px;
	width: 100%;
	top: 0;
	left: 0;
}

.alert-header-title {
	position: relative !important;
	display: table-cell;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #32AC97;
	text-align: center;
	vertical-align: middle;
	font-size: 120%;
	font-weight: 700;
	color: white;
}

.alert-header-title-yesno {
	position: relative !important;
	display: table-cell;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #212525;
	text-align: center;
	vertical-align: middle;
	font-size: 120%;
	font-weight: 700;
	color: white;
}

.alert-header-title-error {
	position: relative !important;
	display: table-cell;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #FF6766;
	text-align: center;
	vertical-align: middle;
	font-size: 120%;
	font-weight: 700;
	color: white;
}

.alert-header-title2 {
	position: relative !important;
	display: table-cell;
	height: 100%;
	width: calc(100% - 30px);
	top: 0;
	left: 0;
	float: left;
	background: rgba(24, 36, 52, 1);
	text-align: center;
	vertical-align: middle;
	font-size: 120%;
	font-weight: 700;
	color: rgba(24, 36, 52, 1);
}

.alert-header-close-btn {
	position: relative !important;
	display: table-cell;
	height: 30px;
	width: 30px;
	top: 0;
	left: 0;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-size: 120%;
	font-weight: 700;
	color: white;
	background-color: rgba(24, 36, 52, 1);
	background-image: url(../resources/images/close_white.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

.alert-header-close-btn:hover {
	background-size: 25px 25px;
}

.alert-msg-inner-pnl {
	position: relative !important;
	display: table-cell;
	height: 100%;
	width: calc(100% - 100px);
	top: 0;
	left: 0;
	padding-right: 20px;
	border: none;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 100%;
	color: rgba(34, 39, 45, 1);
}

.alert-msg-inner-pnl2 {
	position: relative !important;
	display: table-cell;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	/*! padding-right: 20px; */
	border: none;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	font-size: 1.1em;
	color: rgba(34, 39, 45, 1);
}

.alert-icon-pnl {
	display: table-cell;
	position: relative !important;
	height: 100%;
	width: 90px;
	top: 0;
	left: 0;
	border: none;
	background-color: white;
}

.alert-error-icon {
	position: relative !important;
	height: 100%;
	width: 80%;
	top: 0;
	left: 20%;
	border: 0px solid rgba(24, 36, 52, 1);
	background-color: white;
	background-image: url(../assets/img/error.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.alert-success-icon {
	position: relative !important;
	height: 90%;
	width: 80%;
	top: 0;
	left: 20%;
	border: none;
	background-image: url(../assets/img/success.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.alert-btn-pnl {
	position: relative !important;
	display: table;
	height: 30px;
	width: 100%;
	top: 0;
	left: 0;
	border: 0px solid rgba(24, 36, 52, 1);
	background: white;
}

.alert-btn {
	position: relative !important;
	display: table-cell;
	float: left;
	height: 100%;
	width: calc(100%/ 2);
	top: 0;
	left: 0;
	padding: 5px;
	border: none;
	/*! background-color: #32AC97; */
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}

.alert-btn2 {
	position: relative !important;
	display: table-cell;
	float: left;
	height: 50px;
	width: calc(100%/ 2);
	top: 0;
	left: 0;
	padding: 5px;
	border: none;
	background-color: rgba(24, 36, 52, 1);
	text-align: center;
	vertical-align: middle;
	font-size: 100%;
}

.alert-btn-single {
	position: relative !important;
	display: table-cell;
	float: left;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0;
	border: none;
	background-color: #32AC97;
	text-align: center;
	vertical-align: middle;
	font-size: 150%;
}

.alert-btn-single-error {
	position: relative !important;
	display: table-cell;
	float: left;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0;
	border: none;
	text-align: center;
	vertical-align: middle;
	font-size: 150%;
	background-color: #FF6766;
	box-shadow: none;
}

.alert-btn-single-error:hover {
	opacity: 0.9;
}

.alert-btn:hover, .alert-btn2:hover {
	background-color: rgba(24, 36, 52, 0.2);
}

.alert-yes {
	font-weight: 700;
	color: white;
}

.alert-no {
	font-weight: 700;
	color: white;
	background-color: #FF6766;
}

.alert-ok {
	font-weight: 700;
	color: #32AC97;
	background-color: white;
}

.alert-cancel {
	font-weight: 700;
	color: #FF6766;
	background-color: white;
}
/***** Transaction Status ******/
.stat-container {
	position: relative;
	height: calc(100% - 5px);
	width: calc(100%/ 5 - 10px);
	float: left;
	margin-top: 0;
	margin-right: 5px;
	border-radius: 5px;
	background-color: rgba(71, 116, 134, 0.1);
	/*! margin-left: 10px; */
	/*! box-shadow: inset 0px 0px 0px 2px rgba(225,230,235,1); */
}

.stat-label {
	height: auto;
	width: 90%;
	margin-left: 5%;
	font-size: 18px;
	color: rgba(113, 125, 144, 1);
	float: left;
}

.stat-input {
	width: 90%;
	margin-left: 5%;
	font-size: 18px;
	font-weight: 700;
	color: rgba(71, 116, 134, 1);
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	border: none;
	/* border-bottom: 2px solid rgba(71,116,134,0.5); */
	background-color: transparent;
}

.stat-input-menu {
	width: 90%;
	margin-left: 5%;
	font-size: 1em;
	font-weight: 700;
	color: rgba(71, 116, 134, 1);
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	border: none;
	border-bottom: 2px solid rgba(71, 116, 134, 0.5);
	background-color: transparent;
	background-image: url("../assets/img/menu.png");
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: right;
}

.stat-input-date {
	width: 70%;
	margin-left: 5%;
	font-size: 18px;
	font-weight: 700;
	color: rgba(71, 116, 134, 1) !important;
	padding: 0;
	/* padding-top: 2px; */
	/* padding-bottom: 0px; */
	border: none;
	border-bottom: 2px solid rgba(71, 116, 134, 0.5);
	background-color: transparent;
	float: left;
}

.stat-calendar-icon {
	width: 28px;
	height: 28px;
	float: left;
	background-color: transparent;
	background-image: url("../assets/img/calendar_icon_small.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	cursor: pointer;
}

.stat-input-edit {
	border: 2px solid rgba(71, 116, 134, 0.5);
	margin-left: calc(5% - 2px);
}

.stat-edit-btn {
	height: auto;
	width: auto;
	float: right;
	font-size: 16px;
	text-decoration: underline;
	color: rgba(121, 119, 119, 1);
	margin-right: 5%;
	bottom: 0;
	background: transparent;
}

.stat-menuWrapper {
	display: none;
	top: 75%;
	height: auto;
	width: 100%;
	position: absolute;
	z-index: 22;
	box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.5);
	background-color: white;
}

.stat-menuBtn {
	height: auto;
	width: 100%;
	position: relative;
	font-size: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	color: rgba(71, 116, 134, 1);
	background: white;
}

.stat-menuBtn:hover {
	color: white;
	background: rgba(71, 116, 134, 1);
}

@media screen and (max-width: 800px) {
	.stat-container {
		height: 70px;
		width: calc(50% - 5px);
		margin-top: 5px;
	}
	.stat-label {
		font-size: 1em;
	}
	.stat-input-menu {
		font-size: 1em;
		background-size: 6%;
	}
	.stat-input-date {
		font-size: 1em;
	}
	.stat-calendar-icon {
		background-size: 80% 80%;
	}
	.stat-edit-btn {
		font-size: 0.9em;
	}
}
/*** Custom Scrollbars ***/
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}