.file-manager {
	background-color: #fff;
	border: none;
	
	position: relative;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.file-explorer {
	background-color: transparent;
	border: none;
	border-right: 1px solid #aaafb8;
	
	position: relative;
	height: 100%;
	width: 250px;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.file-explorer-company {
	background-color: transparent;
	border: none;
	
	position: relative;
	height: auto;
	width: calc(100% - 20px);
	top: 0px;
	left: 0px;
	margin: 0px auto;
	padding: 15px 0px 0px;
	
	overflow: hidden;
}

.file-explorer-company > button {
	background-color: transparent;
	border: none;
	
	color: #555e5c;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: left;
    white-space: nowrap;
	
	position: relative;
	height: 25px;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;
}

.file-explorer-company > select {
	background-color: transparent;
	border: 1px solid #aaafb8;
	border-radius: 5px;
	
	color: #555e5c;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: left;
    text-indent: 5px;
    text-overflow: ellipsis;
	
	position: relative;
	height: 35px;
	width: calc(100% - 2px);
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	flex-grow: 1;
	overflow: hidden;
}

.file-explorer-folders {
	background-color: transparent;
	border: none;
	border-top: 1px solid #aaafb8;
	
	position: relative;
	height: calc(100% - 141px);
	width: calc(100% - 20px);
	top: 20px;
	left: 0px;
	margin: 10px auto 15px;
	padding: 10px 0px;
	
	overflow: auto;
}

.file-explorer-folder {
	background-color: transparent;
	border: none;
	
	position: relative;
	height: 35px;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 5px 0px;
	padding: 0px;
	
	overflow: hidden;
}

.file-explorer-folder > div {
	background-color: transparent;
	background-image: url(../assets/img/folder_icon.png);
	background-repeat: no-repeat;
	background-size: 25px;
	
	position: relative;
	height: 25px;
	width: 25px;
	top: calc(50% - 12.5px);
	left: 0px;
	margin: 0px 10px;
	padding: 0px;
	
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.file-explorer-folder > button {
	background-color: transparent;
	border: none;
	
	color: #555e5c;
	font-family: Arial;
	font-size: 12px;
	font-weight: 700;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	
	position: relative;
	height: 25px;
	width: calc(100% - 45px);
	top: calc(50% - 12.5px);
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.file-explorer-mainFolder {
	background-color: transparent;
	border: none;
	
	position: relative;
	height: auto;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;
}

.file-explorer-subFolders {
	background-color: transparent;
	border: none;
	
	position: relative;
	height: auto;
	width: auto;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	display: none;
	overflow: hidden;
}

.file-explorer-subFolder {
	background-color: transparent;
	border-left: 1px solid #aaafb8;
	
	position: relative;
	height: auto;
	width: calc(100% - 25px);
	top: 0px;
	left: 25px;
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;
}

.file-summary {
	background-color: transparent;
	border: none;
	
	position: relative;
	height: 100%;
	width: calc(100% - 251px);
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
}

.file-summary-header {
	background-color: transparent;
    border: none;
    
    color: #36363E;
	font-family: Arial;
	font-size: 20px;
	font-weight: 700;
	line-height: 100px;
	text-align: left;
	text-indent: 25px;
	white-space: nowrap;
	
    position: relative;
    height: 100px;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    
    overflow: hidden;
}

.file-summary-content {
	background-color: transparent;
	border: none;
	
	position: relative;
	height: calc(100% - 100px);
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	overflow: auto;
}

.file-summary-content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.file-summary-content::-webkit-scrollbar {
	width: 4px;
	background-color: #F5F5F5;
}

.file-summary-content::-webkit-scrollbar-thumb {
	background-color: #7a7a7a;
}

.file-summary-file {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #ededed;
	
	position: relative;
	height: 50px;
	width: calc(100% - 30px);
	top: 0px;
	left: 0px;
	margin: 5px 15px;
	padding: 0px;
	
	overflow: hidden;
}

.file-summary-file > div:nth-child(1) {
	background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    position: absolute;
    height: 30px;
    width: 30px;
    top: calc(50% - 15px);
    left: 10px;
    
    display: inline-block;
    vertical-align: middle;
}

.file-summary-file > button:nth-child(2) {
	background-color: transparent;
	border: none;
	
	color: #555e5c;
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	line-height: 50px;
	text-align: left;
	white-space: nowrap;
	
	position: relative;
	height: auto;
	width: auto;
	top: 0px;
	left: 60px;
	margin: 0px;
	padding: 0px;
	
	display: inline-block;
    vertical-align: middle;
	overflow: hidden;
}

.file-summary-file > button:nth-child(3) {
	background-image: url(../assets/img/view_icon.png);
	background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    position: absolute;
    height: 20px;
    width: 30px;
    top: calc(50% - 10px);
    right: 50px;
    
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.file-summary-file > button:nth-child(4) {
	background-image: url(../assets/img/download_icon.png);
	background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    position: absolute;
    height: 20px;
    width: 30px;
    top: calc(50% - 10px);
    right: 10px;
    
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.file-summary-empty {
	background-color: transparent;
	border: none;
	
	color: #c4c6c6;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 50px;
	text-align: left;
	white-space: nowrap;
	
	position: relative;
	height: 50px;
	width: calc(100% - 50px);
	top: 0px;
	left: 0px;
	margin: 5px 25px;
	padding: 0px;
	
	overflow: hidden;
}