.overlay {
	position: absolute;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	display: none;
}

.loader-hiddenContainer {
	margin: auto;
	height:100%;
	width:100%;
	text-align: center;
}

.loader-loaderContainer {
	position: relative;
	margin: auto;
	top: 40%;
	height: auto;
	width: auto;
	text-align: center;
}

.loader-loader {
	position: relative;
	width: 100px;
	height: 100px;
	margin: auto;
	background-image: url(../assets/img/load.gif);
	background-size: contain;
	background-repeat: no-repeat;
	/*border: 12px solid #f3f3f3;
	border-radius: 50%;
	border-top: 12px solid #3498db;
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;*/
}

.loader-loaderMsg {
	position: relative;
	top: 0;
	width: auto;
	height: auto;
	color: black;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: PT Sans, Calibri, Sans serif;
	-webkit-animation-name: animatefade;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	animation-name: animatefade;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatefade {
	0% { opacity:0; }
	50% { opacity:1; }
	100% { opacity:0; }
}

@keyframes animatefade {
	0% { opacity:0; }
	50% { opacity:1; }
	100% { opacity:0; }
}