.sso-appbody-container {
	position: absolute;
	top: 50px;
	left: 0px;
	height: calc(100% - 50px);
	width: 100%;
	margin: 0;
	padding: 0;
}

.reports {
	position: absolute;
    height: 100%;
    width: 100%;
	top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.menu {
    background-color: #304256;
	
	position: relative;
    height: calc(100% - 20px);
    width: 250px;
	top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
	padding-top: 10px;
    padding-bottom: 10px;
	
	display: inline-block;
    overflow: hidden;
	
    -webkit-transition: width 1s;
    transition: width 1s;
}

.menuBtn {
	background-color: transparent;
    background-image: url(../assets/img/menuInactive.png);
    background-size: 30px 30px;
    background-position: 5px center;
    background-repeat: no-repeat;
	
	color: #8f9ca5;
	text-align: left;
	text-indent: 40px;
	
	position:relative;
	height: 40px;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	cursor: pointer;
	object-fit: contain;
}

.menuBtn:hover {
	background-color: #2c3e50;
	background-image: url(../assets/img/menuActive.png);
	color: #ffffff;
}

.selected {
	background-color: #2c3e50;
	background-image: url(../assets/img/menuActive.png);
	color: #ffffff;
}

.content {
	position: relative;
    height: 100%;
    width: calc(100% - 250px);
	top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
	
	display: inline-block;
    overflow: hidden;
}