.reportViewer {
    background-color: rgba(0, 0, 0,0.9);
	
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
	
	display: none;
    z-index: 10;
}

.reportViewer > div {
	background-color: transparent;
	
	position: relative;
    height: 95%;
    width: 90%;
    top: 2.5%;
    left: 0px;
	margin: auto;
	padding: 0px;
}

.viewerHeader {
	background-color: transparent;
	
	position: relative;
	height: 50px;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
    padding-bottom: 20px;
}

.viewerHeaderTxt {
	background-color: transparent;
	
	position: relative;
	height: 100%;
	width: calc(100% - 100px);
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	display: inline-block;
}

.viewerHeaderTxt > button {
	background-color: transparent;
	border: none;
	
    font-size: 15px;
    font-weight: 300;
	text-align: left;
	white-space: nowrap;
	
	position: relative;
    height: 100%;
    width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

.viewerHeaderTxt > button:nth-child(1) {
	color: #909090;
	text-transform: uppercase;
}

.viewerHeaderTxt > button:nth-child(2) {
	color: #FFFFFF;
	text-transform: capitalize;
	display: none;
}

.viewerHeaderBtn {
	background-color: transparent;
	
	text-align: right;
	
	position: relative;
	height: 100%;
	width: 100px;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	display: inline-block;
	vertical-align: top;
}

.viewerHeaderBtn  > button {
	background-color: transparent;
	
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 300;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
	
	position: relative;
	height: 50%;
	width: auto;
	top: 50%;
	right: 0px;
	margin: 0px;
	padding: 5px;
	
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.viewerHeaderBtn  > button:hover {
	font-size: 13px;
}

.viewerContent {
	background-color: #909090;
	border-radius: 5px;
	
	position: relative;
	height: calc(100% - 100px);
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

.viewerContent > iframe {
	background-color: transparent;
	
    position: relative;
    height: 100%;
    width: 100%;
	top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0;
}