.utilities-menu {
	background-color: transparent;
	border: none;
	
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	display: block;
	overflow: hidden;
}

.utilities-header-pnl {
	background-color: #fff;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.3);

	position: absolute;
	height: 70px;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;
	z-index: 10;
}

.utilities-header {
	background-color: transparent;
	border: none;
	
	position: relative;
	height: 60px;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

.utilities-header > button:nth-child(1) {
	background-color: #fff;
	border: none;
	
	color: #cd85fa;
	font-size: 16px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	
	position: relative;
	height: auto;
	width: calc(100% - 20px);
	top: 10px;
	left: 20px;
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;
}

.utilities-header > button:nth-child(2) {
	background-color: #fff;
	border: none;
	
	color: rgba(53, 57, 71, 0.7);
	font-size: 14px;
	font-weight: 300;
	text-align: left;
	
	position: relative;
	height: auto;
	width: calc(100% - 20px);
	top: 15px;
	left: 20px;
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;
}

.utilities-tabs {
	background-color: rgb(239, 243, 244);
	border: none;
	
	position: absolute;
	height: calc(100% - 70px);
	width: 100%;
	top: 70px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;
	
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.utilities-tab-option {
	background: #fff;
	border: none;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
	
	position: relative;
	height: 70px;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 25px 0px;
	padding: 0px;
}

.utilities-tab-option:hover {
	cursor: pointer;
	box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
}

.utilities-tab-option > button:nth-child(1) {
	background-color: transparent;
	border: none;
	
	color: rgba(53,57,71,0.8);
  	font-size: 1.1em;	
	font-weight: 700;
	line-height: 40px;
	text-align: left;
	
	position: relative;
	height: 40px;
	width: calc(100% - 20px);
	top: 0px;
	left: 20px;
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;
	pointer-events: none;
}

.utilities-tab-option > button:nth-child(2){
	background-color: transparent;
	border: none;
	
	color: rgba(53,57,71,0.8);
  	font-size: 0.9em;	
  	font-weight: 300;
  	line-height: 10px;
	text-align: left;
  	
	position: relative;
	height: 20px;
	width: calc(100% - 20px);
	top: 0px;
	left: 20px;
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;
	pointer-events: none;
}

.option-popup-overlay {
	background-color: rgba(255,255,255, 0.9);
    border: none;
    
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    
	display: none;
	overflow: hidden;
    z-index: 99;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.option-popup-basepnl {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px #d9dddd;
    
    position: relative;
    height: 80%;
    width: 60%;
    top: 10%;
    left: 0px;
    margin: 0px auto;
    padding: 0px;
    
    overflow: hidden;
}

.option-popup-header {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	
	position: relative;
	height: auto;
	width: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

.option-popup-header > button:nth-child(1) {
	background-color: #fff;
	border: none;
	
	color: #303131;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    
	position: relative;
	height: auto;
	width: calc(100% - 40px);
	top: 0px;
	left: 0px;
	margin: 20px 0px 0px 20px;
	padding: 0px;
}

.option-popup-header > button:nth-child(2) {
	background-color: transparent;
	border: none;
	
	color: #303131;
	font-size: 12px;
	font-weight: 300;
	text-align: left;
	
	position: relative;
	height: auto;
	width: calc(100% - 40px);
	top: 0px;
	left: 0px;
	margin: 5px 0px 20px 20px;
	padding: 0px;
}

.option-popup-fields {
	background-color: transparent;
	border: none;
	
	position: relative;
	height: calc(100% - 250px);
	width: calc(100% - 40px);
	top: 0px;
	left: 0px;
	margin: 0px 20px;
	padding: 0px;
	
	overflow: hidden;
}

.option-popup-controls {
	background-color: transparent;
	border-bottom: none;
	
	position: absolute;
	height: 100px;
	width: 100%;
	top: calc(100% - 100px);
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;
}

.option-popup-run {
    background: #74bafd;
	background: -moz-linear-gradient(left, #ca87fa 0%, #74bafd 100%);
	background: -webkit-linear-gradient(left, #ca87fa 0%, #74bafd 100%);
	background: linear-gradient(left, #ca87fa 0%, #74bafd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74bafd',
		endColorstr='#ca87fa', GradientType=1);
	box-shadow: -2px 0px 15px 1px rgba(0, 0, 0, 0.2);
	border: solid 1px #cd85fa;
	border-radius: 5px;
    
    color: #fff;
	font-family: OpenSans, Calibri, Arial;
    font-size: 1em;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	
	position: absolute;
	height: 35px;
	width: 120px;
	top: calc(50% - 17.5px);
	right: 30px;
	margin: 0px;
	padding: 0px;
	
	cursor: pointer;
	
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.option-popup-cancel {
	background-color: #fff;
    border: none;
    border-radius: 5px;
    
    color: #ca87fa;
	font-family: OpenSans, Calibri, Arial;
    font-size: 1em;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	
	position: absolute;
	height: 35px;
	width: 100px;
	top: calc(50% - 17.5px);
	left: 30px;
	margin: 0px;
	padding: 0px;
	
	cursor: pointer;
	
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.option-popup-field {
	background-color: transparent;
	border: none;
	
	position: relative;
	height: 30px;
	width: calc(100% - 10px);
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 5px;
	
	display: inline-flex;
    vertical-align: middle;
}

.field-multipleselect {
	height: 80px !important;
}

.option-popup-field > button:nth-child(1) {
	background-color: transparent;
	border: none;
	
	color: #303131;
    font-family: Hind;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: left;
    white-space: nowrap;
	
	position: relative;
	height: 100%;
	width: 200px;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	overflow: hidden;
}

.option-popup-field > input:nth-child(2) {
	background-color: transparent;
	border: 1px solid #d9dddd;
	border-radius: 3px;
	
	color: #34495e;
    font-family: Hind;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: left;
    text-indent: 5px;
    text-overflow: ellipsis;
	
	position: relative;
	height: calc(100% - 2px);
	width: auto;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	flex-grow: 1;
	overflow: hidden;
}

.option-popup-field > select:nth-child(2) {
	background-color: transparent;
	border: 1px solid #d9dddd;
	border-radius: 3px;
	
	color: #34495e;
    font-family: Hind;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: left;
    text-indent: 5px;
    text-overflow: ellipsis;
	
	position: relative;
	height: 100%;
	width: auto;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	
	flex-grow: 1;
	overflow: hidden;
}

.ui-datepicker-trigger {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    border: none;
    object-fit: contain;
    
    content: "";
    position: absolute;
    float: right;
    height: 20px;
    width: 25px;
    top: calc(50% - 20px);
    right: 10px;
    margin: 5px 0px;
    padding: 5px 0px;
}

.selectize-control {
	background-color: transparent;
	border: none;
	
	position: relative;
	height: 100%;
	width: calc(100% - 200px);
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

.selectize-input {
	background-color: transparent;
	border: 1px solid #d9dddd;
	border-radius: 3px;
	
	color: #34495e;
    font-family: Hind;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 30px;
    text-align: left;
    text-indent: 5px;
    text-overflow: ellipsis;
    
	position: relative;
	min-height: 0px;
	height: calc(100% - 2px);
	width: calc(100% - 2px);
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	
}

.selectize-input > input {
	color: #34495e;
    font-family: Hind;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 30px;
    text-align: left;
    text-indent: 5px;
    text-overflow: ellipsis;
}

.selectize-control.multi .selectize-input > div {
    background: #9cdbff;
    border: none;
    border-radius: 3px;
    
    color: #2a2929;
    font-size: 12px;
    
    margin: 3px;
    padding: 0px 3px;
    
    cursor: pointer;
}
.selectize-control.multi .selectize-input.has-items {
    padding: 0px;
}

.modal-field-invalid {
	border: 1px solid rgba(192, 57, 43, 0.7) !important;
}