
/* Reset Style */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	outline: none;
	margin: 0;
	padding: 0;
	/*top: 0;*/
	/*left: 0;*/
	border: 0;
	font: inherit;
}

input {
	background: none;
	border: none;
	outline: none;
}

button {
	background: none;
	border: none;
	outline: none;
}

/* Base Style */

@font-face {
	font-family: 'OpenSans';
	src: url('../assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('../assets/fonts/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
	font-family: 'Lato';
	src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
	font-family: 'LatoBold';
	src: url('../assets/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
	font-family: 'Play';
	src: url('../assets/fonts/Play/Play-Regular.ttf');
}

@font-face {
	font-family: 'PlayBold';
	src: url('../assets/fonts/Play/Play-Bold.ttf');
}

body {
	background-color: white;	
	border: none;
	font-size: 15px;
	overflow: hidden;
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.test-header {
	position: absolute;
	height: 60px;
	width: 100%;	

	height: 100%;
	width: 60px;
}

.test-header-sso {
	position: absolute;
	left: calc(100% - 270px);
	height: 100%;
	width: 250px;	
}

.innerContainer {
	position: relative;
	height: 100%;
	width: 100%;
}

.sso-base-font {
	font-family: Play, Lato;
}

.sso-base-font-color {
	color: #4d4d4d;
}

.sso-base-sub-font-color {
	color: #757474;
}

.sso-base-bg {
	background-color: #2c3e50;
}

.sso-base-arw {
	border-color: rgba(52, 73, 94,1.0) !important;
}

.sso-main-wrap {
	border: none;
	overflow: visible;
	position: absolute;
	top: 0px;
	height: 50px;
	width: 100%;
	z-index: 20000;
}

.sso-main-wrap_ver {
	height: 100%;
	width: 60px;
}

.sso-inner-wrap {
	border: none;
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 100px;
	height: 100%;
	width: calc(100% - 200px);
}

.sso-inner-wrap_ver {
	left: 0px;
	width: 100%;
}

@media only screen and (max-width: 1000px) {
	.sso-inner-wrap {
		left: 5px;
		width: calc(100% - 10px);
	}
}

.sso-logo {
	border: none;
	overflow: hidden;
	position: absolute;
	top: 10px;
	left: 20px;
	height: calc(100% - 20px);
	width: 50px;
	object-fit: scale-down;
	object-position: left;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */	
}

.sso-logo-text {
    background-color: transparent;
    border: none;
    
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    white-space: nowrap;
    
    position: relative;
    height: calc(100% - 20px);
    width: auto;
    top: 10px;
    left: 70px;
}

.sso-logo_ver {
	position: relative;	
	margin-top: 10px;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	object-fit: scale-down;
	object-position: center;
}

@media only screen and (max-width: 1000px) {
	.sso-logo {
		left: 5px;
	}
}

.sso-ctrl {
	float: right;
	border: none;
	overflow: hidden;
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: auto;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */	
}

.sso-ctrl_ver {
	position: absolute;
	top: calc(100% - 150px);
	height: 120px;
	width: 100%;
}

.sso-btn-prof {
	float: left;
	border: none;
	position: relative;
	height: 100%;
	width: auto;
	cursor: pointer;
}

.sso-btn-prof_ver {
	height: 50%;
	width: 100%;
}

.sso-prof-hd-wrap {
	display: none;
	float: left;
	border: none;
	position: relative;
	margin-left: 10px;
	height: 60px;
	width: calc(100% - 20px);
}

.sso-prof-hd-wrap_ver {
	display: initial;
}

.sso-prof-imgWrap {
	float: left;
	position: relative;
	height: 100%;
	width: 45px;
	pointer-events: none;	
}

.sso-prof-imgWrap_ver {
	height: 100%;
	width: 100%;	
}

.sso-prof-imgWrap > img {
	border-radius: 35px;
	background-color: #ecf0f1; 
	background-color: transparent; /*For Retriever*/
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	height: 40px;
	width: 40px;
	object-fit: cover;
	-webkit-transition: 300ms linear;
	-moz-transition: 300ms linear;
	-o-transition: 300ms linear;
	transition: 300ms linear;		
}

.sso-prof-imgWrap > img:hover {
	border: solid 2px rgba(230, 126, 34, 0.3);
}

.sso-btn-lblWrap {
	float: left;
	position: relative;
	height: 100%;
	width: auto;
	pointer-events: none;	
}

.sso-btn-lblWrap_ver {
	display: none;
}

.sso-btn-lblWrap-mob {
	color: white;
}

.sso-btn-lblWrap > button {
	display: block;
	text-align: left;
	position: relative;
	margin-left: 3px; 
	margin-left: 0px; /*For Retriever*/
	height: auto;
	width: auto;
	pointer-events: none;
}

.sso-prof-line {
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: calc(100% - 1px);
	left: 10%;
	height: 1px;
	width: 80%;
}

.prof-user {
	display: block !important; /*For Retriever*/
	color: #a2a2a3 !important; /*For Retriever*/
	margin-top: -2px;
	margin-top: 0px; /*For Retriever*/
	top: calc(50% - 18px);
	top: 0px; /*For Retriever*/
	font-size: 16px;
	font-weight: bold;
	font-weight: normal; /*For Retriever*/
	height: 100% !important; /*For Retriever*/
}

.prof-role {
	color: #a2a2a3 !important; /*For Retriever*/
	margin-top: -2px;
	margin-top: 0px; /*For Retriever*/
	top: calc(50% - 18px);
	top: 0px; /*For Retriever*/
	font-size: 16px;
	font-weight: bold;
	font-weight: normal; /*For Retriever*/
	height: 100% !important; /*For Retriever*/
	display: none !important;
}

@media screen and (max-width: 1000px) {
	.prof-user, .prof-role {
		display: none !important;
	}
}

.sso-app-btn {
	float: left;
	position: relative;
	margin-left: 20px;
	height: 100%;
	width: 50px;	
}

@media screen and (max-width: 1000px) {
	.sso-app-btn {
		margin-left: 5px;
	}
}

.sso-app-btn_ver {
	margin-left: 0px;
    height: 50%;
    width: 100%;
}

.myapp-icon {
	background-image: url(../assets/images/order.png);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: center;
	background-color: #ecf0f1; 
	background-color: transparent; /*For Retriever*/

	border-radius: 40px;
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	height: 40px;
	width: 40px;

	cursor: pointer;

	-webkit-transition: 300ms linear;
	-moz-transition: 300ms linear;
	-o-transition: 300ms linear;
	transition: 300ms linear;	
}

.myapp-icon:hover {
	background-color: rgba(230, 126, 34, 1.0);
}

.sso-dlog {
	display: initial;
	position: absolute;	
}

.dlog-hide {
	display: none;
}

.sso-dlog-arw {
	position: absolute;
	top: 0;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent !important;;
	border-right: 7px solid transparent !important;;
	border-bottom: 10px solid;
	border-color: #313131;
}

.sso-dlog-arw_ver {
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.arw-pointer {
	left: calc(50% - 4px);
}

.arw-pointer_ver {
	top: 30px;
}

@media screen and (max-width: 800px) {
	.arw-center {
		left: calc(100% - 43px);
	}
}

.arw-reverse-loc {
	left: calc(100% - 32px) !important;
}

.arw-reverse-loc_ver {
	top: calc(100% - 35px) !important;
}

.sso-dlog-scrl {
	overflow: hidden;
	border-radius: 10px;
	background-color: #313131;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
	position: relative;
	margin-top: 9px;
	width: 100%; 
	height: auto; 	
	max-height: 500px;
}

.sso-dlog-scrl_ver {
	top: 0px;
	left: 9px;
	width: calc(100% - 10px); 
	height: 100%;
}

.sso-dlog-scrl > :nth-of-type(2) {
	left: calc(100% - 10px);
}

.sso-dlog-wrap {
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%; 
	height: auto; 
}

.sso-dlog-prof {
	height: auto;
	width: 200px;
	top: 100px;
	left: 0px;
}

.sso-prof-btn {
	background-color: rgba(255, 255, 255, 0.0);
	background-repeat: no-repeat;
    background-size: 40px;
    background-position: 10px center;		
	color: #bdc3c7;
	font-size: 0.8em;
	font-weight: bold;
	text-align: left;
	text-indent: 50px;
	top: 0%;
	left: 0%;
	height: 45px;
	width: 100%;	
	cursor: pointer;	
   	-webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;	 
}

.sso-prof-btn:hover {
	background-color: rgba(255, 255, 255, 0.3);
	color: white;
}

.sso-btn-switch {
	background-image: url(../assets/images/roles.png);
}

.sso-btn-switch:hover {
	background-image: url(../assets/images/roles1.png);
}

.sso-btn-account {
	background-image: url(../assets/images/settings.png);
}

.sso-btn-account:hover {
	background-image: url(../assets/images/settings1.png);
}

.sso-btn-logout {
	background-image: url(../assets/images/lock.png);
}

.sso-btn-logout:hover {
	background-image: url(../assets/images/lock1.png);
}

.sso-dlog-app {
	height: auto;
	width: 300px;
	top: 100px;
	left: 0px;
}

.sso-app-wrap {
	border: solid 1px rgba(255, 255, 255, 0.0);
	border-radius: 3px;
	float: left;
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	height: 120px;
	width: 90px;
	cursor: pointer;
	-webkit-transition: 100ms linear;
	-moz-transition: 100ms linear;
	-o-transition: 100ms linear;
	transition: 100ms linear;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */			
}

.sso-app-wrap:hover {
	border: solid 1px rgba(255, 255, 255, 0.4);
}

.sso-app-wrap > img {
	position: absolute;
	top: calc(50% - 40px);
	left: calc(50% - 25px);
	height: 50px;
	width: 50px;
	object-fit: contain;
	pointer-events: none;
}

.sso-app-wrap > button {
	color: white;
	font-size: 0.7em;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 70%;
	left: 0%;
	height: 20%;
	width: 100%;	
	pointer-events: none;
}

.sso-dlog-cstm {
	height: auto;
	width: 200px;
	top: 100px;
	left: 0px;
}

.sso-custom-ctrl-wrap {
	float: right;
	border: none;
	overflow: hidden;
	position: relative;
	margin-right: 20px;
	top: 0px;
	left: 0px;
	height: 100%;
	width: auto;
	max-height: initial;
	max-width: calc(100% - 350px);
}

.sso-custom-ctrl-wrap_ver {
	margin-right: 0px;
	margin-top: 30px;
	top: 0px;
	left: 0px;
	height: calc(100% - 200px - 50px);;
	width: 100%;
	max-height: initial;
	max-width: initial;
}

@media screen and (max-width: 1000px) {
	.sso-custom-ctrl-wrap { 
		max-width: initial;
	}
}

.sso-menu-btn {
	display: none;
	float: right;
	background-image: url(../assets/images/list.png);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: center;

	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 40px;

	cursor: pointer;

	-webkit-transition: 300ms linear;
	-moz-transition: 300ms linear;
	-o-transition: 300ms linear;
	transition: 300ms linear;	
}

.sso-menu-btn_ver {
	display: none !important;
}

@media screen and (max-width: 1000px) {
	.sso-menu-btn {
		display: initial;
	}
}

.sso-custom-scrl {
	float: right;
	overflow: hidden;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%; 
	height: 100%; 
}

.sso-custom-scrl > :nth-of-type(2) {
	left: calc(100% - 10px);
}

@media screen and (max-width: 1000px) {
	.sso-custom-scrl {
		display: none;
	}
}

.sso-custom-ctrl {
	display: inline-block;
	border: none;
	overflow: visible;
	position: relative;
	height: 100%;
	width: auto;
	white-space: nowrap;
}

.sso-custom-ctrl_ver {
	height: auto;
	width: 100%;
	white-space: normal;
}

@media screen and (max-width: 1000px) {
	.sso-custom-ctrl {
		/*display: none;*/
	}

	.sso-custom-ctrl_ver {
		display: initial !important;
	}
}

/* SSO Widget Styles*/

.sso-role-wrap {
	position: relative;
	top: 0%;
	left: 0%;
	height: auto;
	width: 100%;	
}

.sso-role-title {
	background-color: rgba(255, 255, 255, 0.3);

	color: white;
	font-size: 0.8em;
	font-weight: bold;
	text-align: left;
	text-indent: 10px;

	top: 0%;
	left: 0%;
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	width: calc(100% - 20px);	
}

.sso-role-container {
	background-color: rgba(255, 255, 255, 0.1);

	top: 0%;
	left: 0%;
	margin-left: 10px;
	padding-bottom: 10px;
	height: auto;
	width: calc(100% - 20px);	
}

.sso-role-btn {
	background-image: url(../assets/images/inactive.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 5px center;
	background-color: rgba(46, 204, 113, 0.0);
	border-radius: 5px;	

	color: white;
	font-size: 0.8em;
	font-weight: bold;
	text-align: left;
	text-indent: 40px;

	top: 0%;
	left: 0%;
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	width: calc(100% - 20px);	

	cursor: pointer;

	-webkit-transition: 100ms linear;
	-moz-transition: 100ms linear;
	-o-transition: 100ms linear;
	transition: 100ms linear;			
}

.sso-role-btn:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.role-active {
	background-image: url(../assets/images/active.png);
	background-color: rgba(46, 204, 113, 0.5);

	cursor: default;	
}

.role-active:hover {
	background-color: rgba(46, 204, 113, 0.5);
}

.sso-noti-wrap {
	z-index: 99;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0px !important;
	left: 0px !important;
	height: 100% !important;
	width: 100% !important;
}

.noti-hide {
	display: none;
}

.sso-selector-wrap {
	overflow: visible;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    position: absolute;
    top: calc(45% - 175px);
    left: calc(50% - 150px);
    height: 350px;
    width: 300px;
}

.sso-selector-header {
    overflow: hidden;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
}

.sso-header-label {
	color: #bdc3c7;
    font-size: 0.8em;
    font-weight: bold;
    text-indent: 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: auto;	
}

.sso-header-button {
	border-radius: 30px;
	background-image: url(../assets/images/close3.png);
	background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;	
    background-color: transparent;
	position: absolute;
	top: calc(50% - 15px);
	left: calc(100% - 40px);
	height: 30px;
	width: 30px;
	cursor: pointer;
   	-webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;	
}

.sso-header-button:hover {
	background-image: url(../assets/images/close2.png);
    background-color: #c0392b;
}

.sso-selector-body {
    overflow: auto;
    background-color: transparent;
    position: absolute;
    top: 60px;
    left: 5px;
    height: calc(100% - 60px - 50px);
    width: calc(100% - 10px);
}

.sso-selector-inner {
    background-color: transparent;
    position: relative;
    top: 0px;
    left: 0px;
    height: auto;
    width: 100%;
}

.sso-selector-body > div {
    border-bottom: solid 1px rgba(236, 240, 241, 0.8);
    background-color: white;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
   	-webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;	
}

.sso-selector-body > div:hover {
    background-color: rgba(52, 152, 219, 0.1);
}

.sso-selector-body > div > div {
	border-radius: 40px;
	background-color: rgba(52, 152, 219, 1.0);
	background-image: url(../assets/images/photo.png);
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;	
    position: absolute;
    top: calc(50% - 20px);
    left: 10px;
    height: 40px;
    width: 40px;
}

.sso-selector-body > div > button:nth-child(2) {
	color: #575757;
    font-size: 1em;
    font-weight: bold;
	position: absolute;
	top: 18%;
	left: 60px;
	height: auto;
	width: auto;	
}

.sso-selector-body > div > button:nth-child(3) {
	color: #bdc3c7;
    font-size: 0.7em;
    font-weight: bold;
    text-indent: 0px;
	position: absolute;
	top: 51%;
	left: 60px;
	height: auto;
	width: auto;	
}

.sso-selector-body > div > button:nth-child(4) {
	border: solid 2px #bdc3c7;
	border-radius: 30px;
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;	
    position: absolute;
    top: calc(50% - 17.5px + 2px);
    left: calc(100% - 45px);
    height: 25px;
    width: 25px;
    cursor: pointer;
    -webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;	 
}

.sso-selector-selected {
	background-image: url(../assets/images/check.png);
	background-color: #e67e22 !important;	
}

.sso-notify-wrap {
	overflow: visible;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    position: absolute;
    top: calc(45% - 100px);
    left: calc(50% - 175px);
    height: 200px;
    width: 350px;
}

.sso-notify-header, .sso-confirm-header {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    background-color: #ecf0f1;
    position: relative;
    top: 0px;
    left: 0px;
    height: 35%;
    width: 100%;
}

.sso-notify-header > button:nth-child(1)  {
	border-radius: 70px;
	background-image: url(../assets/images/notify.png);
	background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;			
    background-color: #ecf0f1;
    position: relative;
    top: -20px;
    left: calc(50% - 35px);
    height: 70px;
    width: 70px;
}

.sso-confirm-header > button:nth-child(1)  {
	border-radius: 70px;
	background-image: url(../assets/images/question.png);
	background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;			
    background-color: #ecf0f1;
    position: relative;
    top: -20px;
    left: calc(50% - 35px);
    height: 70px;
    width: 70px;
}

.sso-notify-header > button:nth-child(2), .sso-confirm-header > button:nth-child(2)  {
	color: #575757;
	font-size: 0.9em;
    position: absolute;
	top: calc(100% - 1.5em);
    left: 0px;
    height: 1.2em;
    width: 100%;
}

.sso-notify-body {
	position: relative;
    top: 0px;
    left: 0px;
    height: 65%;
    width: 100%;
}

.sso-notify-body > button:nth-child(1)  {
	color: #575757;
	font-size: 0.9em;
	font-weight: bold;
    position: relative;
	top: 0px;
    left: 10px;
    height: 60%;
    width: calc(100% - 20px);
}

.sso-emphasize {
	color: rgba(231, 76, 60, 1.0);
	font-size: 1.3em;
}

.sso-control-button {
	color: white;
	font-size: 0.9em;
	font-weight: bold;	
	border-radius: 5px;
	background-image: url(../assets/images/check.png);
	background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;	
    background-color: #16a085;
	position: absolute;
	top: calc(100% - 45px);
	left: calc(50% - 100px);
	height: 35px;
	width: 200px;
	cursor: pointer;
    -webkit-transition: 100ms ease-in-out;
	-moz-transition: 100ms ease-in-out;
	-o-transition: 100ms ease-in-out;
	transition: 100ms ease-in-out;	 	 
}

.sso-control-button_text {
	background-size: 0px;
}

.sso-dialog-center {
	background-color: #16a085;
	background-image: url(../assets/images/check.png);
	left: calc(50% - 100px);
	width: 200px;
}

.sso-dialog-left {
	background-color: #16a085;
	background-image: url(../assets/images/check.png);
	left: 20px;
	width: 100px;	
}

.sso-dialog-right {
	background-color: #c0392b;
	background-image: url(../assets/images/close.png);
	left: calc(100% - 120px);
	width: 100px;	
}

.sso-dialog-center:hover, .sso-dialog-left:hover {
	background-image: url(../assets/images/check.png);	
    background-color: #1abc9c;
}

.sso-dialog-right:hover {
	background-image: url(../assets/images/close.png);
    background-color: #e74c3c;
}

.sso-noti-pop {
	overflow: visible;

	border-radius: 5px;
	box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.4);

	position: absolute;
	top: calc(50% - 125px);
	left: calc(50% - 200px);
	height: 250px;
	width: 400px;
}

.sso-noti-icon {
	border-radius: 100px;

	position: absolute;
	top: -40px;
	left: calc(50% - 50px);
	height: 100px;
	width: 100px;
}

.sso-noti-close {
	background-image: url(../assets/images/close.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
	background-color: rgba(192, 57, 43, 1.0);
	border: solid 1px rgba(255, 255, 255, 0.2);
	border-radius: 30px;

	position: absolute;
	top: -11px;
	left: calc(100% - 19px);
	height: 30px;
	width: 30px;

	cursor: pointer;
	
	-webkit-transition: 100ms linear;
	-moz-transition: 100ms linear;
	-o-transition: 100ms linear;
	transition: 100ms linear;	
}

.sso-noti-close:hover {
	background-color: rgba(231, 76, 60, 1.0);
}

.sso-load-wrap {
	overflow: visible;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.sso-load-wrap > img:nth-child(1) {
	background-color: rgba(192, 57, 43, 0.0);
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 75px);
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.sso-load-wrap > button:nth-child(2) {
	background-image: url(../assets/images/loading.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: rgba(192, 57, 43, 0.0);
    position: absolute;
    top: calc(70% - 80px);
    left: calc(50% - 125px);
    height: 120px;
    width: 250px;
}

.sso-load-wrap > button:nth-child(3) {
	color: #7f8c8d;
	font-size: 0.9em;
	font-weight: ;
    position: absolute;
    top: 70%;
    left: 0%;
    height: auto;
    width: 100%;
}

.sso-menu-wrap {
	display: block;
	border: none;
	position: absolute;
	top: 0px;
	left: 80px;
	height: 100%;
	width: auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sso-hambrgr-menu{
	display: none;
	border: none;
	position: absolute;
	top: 5%;
	left: 0;
	height: 90%;
	width: 40px;
	background-image:url(../assets/images/hamburger.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.sso-menu-btn-dflt {
	position: relative;
	top: 0;
	margin-right: 15px;
	height: 100%;
	width: 80px;
	float: left;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition: all 300ms ease;
}

.sso-menu-btn-active {
	box-shadow: inset 0px 3px 0px 0px rgb(254,94,121);
}

.sso-menu-btn-dflt:hover {
	box-shadow: inset 0px 3px 0px 0px rgb(254,94,121);
	cursor: pointer;
	color: white;
}

.sso-menu-btn-icon {
	position: relative;
	top: 0;
	left: 0;
	height: calc(100% - 20px);
	width: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition: all 300ms ease;
}

.sso-menu-btn-lbl {
	position: relative;
	top: 0;
	left: 0;
	height: 20px;
	line-height: 20px;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	color: rgb(137, 151, 164);
	font-size: 10px;
	font-family: OpenSans;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	transition: all 300ms ease;
}

.sso-menu-btn-lbl-active {
	color:white;
}

#home{
	background-image:url(../assets/images/home_light.png);
	background-size:30%;
}

#dashboard{
	background-image:url(../assets/images/dashboard_light.png);
	background-size:33%;
}

#searchemployee{
	background-image:url(../assets/images/searchEmployee_light.png);
	background-size:31%;
}

#addemployee{
	background-image:url(../assets/images/addEmployees_light.png);
	background-size:30%;
}

#addemployeebatch{
	background-image:url(../assets/images/addEmployees1_light.png);
	background-size: 45%;
}

#uploaddocs{
	background-image:url(../assets/images/upload_light.png);
	background-size: 29%;
}

@media screen and (max-width: 768px){
	.sso-menu-wrap {
		display: none;
		top: 60px;
		left: 0;
		height:  200px;
		width: 100%;
		background-color: #2c3e50;
	}
	
	.sso-hambrgr-menu{
		display: block;
	}
	
	.sso-logo {
		object-position: center;
	}
	.arw-center {
		left: calc(100% - 43px);
	}
		.sso-logo {
		left: calc(50% - 35px);
		height: calc(100% - 20px);
		width: 60px;
		top: 10px;
	}

	.sso-ctrl {
		left: calc(100% - 130px);
		height: 80%;
		top: 10%;
	}

	.sso-btn-prof {
		width: 30%;
	}

	.sso-toggle-lbl {
		display: none;
	}

    .sso-prof-hd-wrap {
        display: initial;
    }

   .sso-menu-btn-dflt {
		top: 0;
		margin-right: 15px;
		height: 40px;
		width: 100%;
		float: left;
	}
	
	.sso-menu-btn-icon {
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		width: 40px;
		float: left;

		background-position: center;
		background-size: 50% !important;
	}

	.sso-menu-btn-lbl {
		position: relative;
		float: left;
		height: 100%;
		line-height: 40px;
		width: calc(100% - 42px);
		text-align: left;
		font-size: 14px;
		text-indent: 5px;
	}
	
	.sso-menu-btn-active {
		box-shadow: inset 5px 0px 0px 0px rgb(254,94,121);
	}

	.sso-menu-btn:hover {
		box-shadow: inset 5px 0px 0px 0px rgb(254,94,121);
	}

	.sso-prof-img {
		top: calc(50% - 14.5px);
		left: 50px;
		height: 25px;
		width: 25px;	
	}

	.myapp-icon {
		top: calc(50% - 14.5px);
		left: calc(50% - 5px);
		height: 25px;
		width: 25px;
	}

	.sso-ctrl-cnt {
		font-size: 10px;
		text-align: center;

		position: absolute;
		top: calc(50% - 11.5px);
		left: calc(50% - 15px);
		height: 20px;
		width: 20px;	
	}

}